<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <!-- 3rd party CSS -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />

    <!-- DataTables CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/show">MyDjangoApp</a>
        </div>
        <div class="navbar-header">

            <a class="navbar-brand" href="/logout">Logout</a>
        </div>
        </div>
      </div>
    </nav>
    <main class="main p-2 overflow-auto">
      <!-- Specific content of the page -->
      {% block content %} {% endblock content %}
    </main>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap & Popper -->

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

    <!-- Custom script -->
    {% block js %} {% endblock js %}
  </body>
</html>
