<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>

    <!-- Font Awesome -->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <!-- Moment.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
      integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA="
      crossorigin="anonymous"
    ></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
      integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
      integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <form method="POST" class="post-form" action="/update/{{form.id}}">
      {% csrf_token %}
      <div class="container">
        <br />
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <h3>Update Vacation</h3>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"> Description:</label>
          <div class="col-sm-4">
            <input
              type="text"
              name="description"
              id="id_ename"
              maxlength="100"
              class="form-control"
              value="{{ form.description }}"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Start Date:</label>
          <div
            class="col-6 input-group date"
            id="datetimepicker2"
            data-target-input="nearest"
          >
            <input
              type="text"
              name="dateFrom"
              class="form-control datetimepicker-input"
              data-target="#datetimepicker2"
              id="id_dateFrom"
              value="{{form.dateFrom|date:'d/m/Y h:m'}}"
            />
            <div
              class="input-group-append"
              data-target="#datetimepicker2"
              data-toggle="datetimepicker"
            >
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">End Date:</label>
          <div
            class="input-group date col-6"
            id="datetimepicker1"
            data-target-input="nearest"
          >
            <input
              type="text"
              name="dateTo"
              class="form-control datetimepicker-input"
              data-target="#datetimepicker1"
              id="id_dateTo"
              value="{{form.dateTo|date:'d/m/Y h:m'}}"
            />
            <div
              class="input-group-append"
              data-target="#datetimepicker1"
              data-toggle="datetimepicker"
            >
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        {% if errors %}
        <div style="color: red">{{ errors }}</div>
        {% endif %}
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </div>
      </div>
    </form>
    <script>
      $(function () {
        $("#datetimepicker1").datetimepicker({
          format: "DD/MM/YYYY HH:mm",
        });
        $("#datetimepicker2").datetimepicker({
          format: "DD/MM/YYYY HH:mm",
        });
      });
    </script>
  </body>
</html>
