<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>

    <!-- Font Awesome -->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <!-- Moment.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
      integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA="
      crossorigin="anonymous"
    ></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
      integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
      integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% block content %}
    <h2>Add Vaction</h2>
    <form method="post" class="post-form">
      {% csrf_token %}
      <div class="row">
        <label class="col-sm-2 col-form-label">Starting date:</label>

        <div
          class="input-group date col-md-6"
          id="datetimepicker1"
          data-target-input="nearest"
        >
          {{ form.dateFrom }}
          <div
            class="input-group-append"
            data-target="#datetimepicker1"
            data-toggle="datetimepicker"
          >
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
      <div
        style="width: 100%; margin-top: 0.25rem; font-size: 80%; color: #dc3545"
      >
        {{form.dateFrom.errors}}
      </div>

      <div class="row">
        <label class="col-sm-2 col-form-label">Ending date:</label>

        <div
          class="input-group date col-md-6"
          id="datetimepicker2"
          data-target-input="nearest"
        >
          {{ form.dateTo }}
          <div
            class="input-group-append"
            data-target="#datetimepicker2"
            data-toggle="datetimepicker"
          >
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
      <div
        style="width: 100%; margin-top: 0.25rem; font-size: 80%; color: #dc3545"
      >
        {{form.dateTo.errors}}
      </div>

      <div class="row">
        <label class="col-sm-2 col-form-label">Description:</label>

        <div class="input-group col-md-6">{{ form.description }}</div>
        <div class="">{{form.description.errors}}</div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    {% comment %}
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit" />
    </form>
    {% endcomment %}
    <script>
      $(function () {
        $("#datetimepicker1").datetimepicker({
          format: "DD/MM/YYYY HH:mm",
        });
        $("#datetimepicker2").datetimepicker({
          format: "DD/MM/YYYY HH:mm",
        });
      });
    </script>

    {% endblock %}
  </body>
</html>
