{% extends 'base.html' %} <-- inherit the general template {% load static %}
{%block content %}
<div class="row">
  <div class="col-sm">
    <table id="table_db" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">From</th>
          <th scope="col">Duration</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for k in vacations %}
        <tr>
          <td>{{ k.description }}</td>
          <td>{{ k.dateFrom }}</td>
          <td>{{ k.duration }}</td>
          <td>
            {% if k.dateEditable %}<a href="/edit/{{ k.id }}"
              ><span class="glyphicon glyphicon-pencil">Edit</span></a
            >
            <a href="/delete/{{ k.id }}">Delete</a>{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<center>
  <a href="/vacation" class="btn btn-primary">Add New Record</a>
</center>

{% endblock content %} {% block js %}

<script>
  $(document).ready(function () {
    $("#table_db").DataTable({
      paging: true,
      autoWidth: true,
      ordering: true,
    });
  });
</script>

{% endblock js %}
