{% extends "registration/base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %} {{form|crispy}}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  Don't have an account?
  <a href="/signup"><strong>register here</strong></a
  >!
</div>
{% endblock %}
