{% extends 'registration/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<h2>Sign up Form</h2>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
      {{ field |as_crispy_field}}
  {% endfor %}
  <button class="btn btn-primary" type="submit">Sign up</button>
</form>
{% endblock content %}



